/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

h1{
    text-align: center;
    padding: 20px;
    color: tomato;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var(--white);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 0;
    margin-bottom: 0;

    
    
}


  


.logo img{
    height: 130px;
    width: auto;
    display: inline-flex;
    float: left;
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--white);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: var(--black);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--black);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */


/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--gray);

    }

    .hamb{
        display: none;
    }
}

body{
margin: 0;
}

.responsive{
    width: 100%;
    height: auto;
}
.hero{
    padding: 0;
    margin: 0;
}
.about-container {
   
    display: flex;
    height:auto;
    width: 100%;
    font-size: large;
    text-align: center;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    background-color: rgba(255, 82, 0, 0.55);
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 7px;
    
  }


.grid {
    
    background-color: rgb(62, 81, 114);
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .grid-item {
    min-width: 250px;
    max-width: 250px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem;
  }

  .wrapper {
    min-height: 100vh;
    padding: 2rem 0;
    background: rgb(62, 81, 114);
    color: #e4e4e8;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  .grid-item figure {
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.05);
  }

  .grid-item figure img {
    display: block;
    max-width: 100%;
  }
  .grid-item figcaption {
    display: block;
    padding: .625rem .5rem;
    background: #474952;
    height: 270px;
    line-height: 1.5;
    font-size: large;
  }

  h2{
    color: white;
    text-align: center;
    font-size: larger;
    padding-bottom: 20px;
    font-family: "Poppins";
  }

  .team-container{
    min-height: 70vh;
    padding: 2rem 0;
    background: rgb(62, 81, 114);
    color: #e4e4e8;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
      
  }

  .team-grid{
    background-color: rgb(62, 81, 114);
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
.member{
    min-width: 250px;
    max-width: 250px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: .5rem;
}
.member figure {
    padding: 20px;
    margin: 0;
   
}

.member figure img{
    display: block;
    max-width: 100%;
    border-radius: 50%;
    justify-content: space-between;
    padding-right: 20px;
}

.member figcaption {
    display: block;
    margin-top: 20px;
    padding: .7rem .7rem;
    background: rgba(62, 81, 114);
    color: white;
    height: 50px;
    font-size: large;
    justify-content: space-between;
    
  }

footer h2{
    color: tomato;
    background-color: white;
    line-height: normal;
    padding: 20px;
    font-size: larger;
}

.contact-container{
    width: 100%;
    position: relative;
}

.contact-container img{
    width: 100%;
    height: auto;
}

.contact-container .btn {
    position: absolute;
    top: 50%;
    left: 77.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
}

.contact-container .btn:hover{
    background-color: black;
}

h3{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: white;
}